@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --default-color: #0d1117;
  --default-text-color: #8d96a0;
  --default-action-color: #e6edf3;
  --primary-color: #3178c6;
}

* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}